[Unit]
Description=Verifica atualizacoes do CAMP Vision a cada 15 minutos

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
